@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ragazzi-Extrabold';
  src: url('./assets/fonts/Fontspring-DEMO-ragazzi-extrabold.otf') format('opentype');
  font-weight: normal;
  /* Optional: Set the weight */
  font-style: normal;
  /* Optional: Set the style */
}

@font-face {
  font-family: 'Ragazzi';
  src: url('./assets/fonts/Fontspring-DEMO-ragazzi-medium.otf') format('opentype');
  font-weight: normal;
  /* Optional: Set the weight */
  font-style: normal;
  /* Optional: Set the style */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fff4d1; */
  background-color: #F8E8EE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}